.sec4_ga_box1{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec4_ga_box1 h1{
    font-size: 30px;
    color: rgb(255, 251, 0);
    margin-bottom: 2rem;
    text-align: center;
}
.sec4_ga_box1 h3{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.sec4_ga_box2{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer_gavity_sec4_1{
    width: 10%;
    height: 100%;
}
.main_gravity_sec4{
    width: 80%;
    height: 100%;
}
.avartar_gravity_sec4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.avartar_gravity_sec4 img{
    width: 40%;
    height: 40%;
    top: 30%;
    position: relative;
    animation: gra3 10s linear infinite;
}
@keyframes gra3 {
    0%{
        top: 30%;
    }
    10%{
        top: 10%;
    }
    20%{
        top: -10%;
    }
    45%{
        top: -35%;
    }
    50%{
        top: -35%;
    }
    60%{
        top: -30%;
    }
    70%{
        top: 0%;
    }
    80%{
        top: 50%;
    }
    90%{
        top: 90%;
    }
    100%{
        top: 70%;
    }
}
.timer_gavity_sec4_2{
    width: 10%;
    height: 100%;
}
@media only screen and (max-width:750px) and (max-width:430px){
    .sec4_ga_box1{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec4_ga_box1 h1{
        font-size: 30px;
        color: rgb(255, 251, 0);
        margin-bottom: 2rem;
        text-align: center;
    }
    .sec4_ga_box1 h3{
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }
    .sec4_ga_box2{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timer_gavity_sec4_1{
        width: 10%;
        height: 100%;
    }
    .main_gravity_sec4{
        width: 80%;
        height: 100%;
    }
    .avartar_gravity_sec4{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avartar_gravity_sec4 img{
        width: 40%;
        height: 40%;
        top: -35%;
        position: relative;
    }
    .timer_gavity_sec4_2{
        width: 10%;
        height: 100%;
    }
}
@media only screen and (max-height:900px) and (min-height:751px) and (max-width:430px){
    .sec4_ga_box1{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec4_ga_box1 h1{
        font-size: 30px;
        color: rgb(255, 251, 0);
        margin-bottom: 2rem;
        text-align: center;
    }
    .sec4_ga_box1 h3{
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }
    .sec4_ga_box2{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timer_gavity_sec4_1{
        width: 10%;
        height: 100%;
    }
    .main_gravity_sec4{
        width: 80%;
        height: 100%;
    }
    .avartar_gravity_sec4{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avartar_gravity_sec4 img{
        width: 40%;
        height: 40%;
        top: -35%;
        position: relative;
    }
    .timer_gavity_sec4_2{
        width: 10%;
        height: 100%;
    }
}