*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(255deg,#ca43ff,#ca43ff,#ca43ff,#ff84f7);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    border: 1px solid rgb(242, 255, 0);
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:750px) and (max-width:430px){
    .container{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-height:900px) and (min-height:751px) and (max-width:430px){
    .container{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}