.sec3_text_force{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3_text_force h1{
    font-size: 30px;
    color: #ffffff;
}
.sec3_box1_force{
    width: 80%;
    height: 45%;
    display: flex;
}
.sec3_force_reng1{
    width: 50%;
    height: 100%;
    border-right: 1px solid #2a0046;
}
.sec3_force_reng1 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 30px 0px 0px 0px;
}
.sec3_force_reng2{
    width: 50%;
    height: 100%;
    border-bottom: 1px solid #2a0046;
}
.sec3_force_reng2 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0px 30px 0px 0px;
}
.sec3_box2_force{
    width: 80%;
    height: 45%;
    display: flex;
}
.sec3_force_reng3{
    width: 50%;
    height: 100%;
    border-top: 1px solid #2a0046;
    border-right: 1px solid #2a0046;
}
.sec3_force_reng3 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0px 0px 0px 30px;
}
.sec3_force_reng4{
    width: 50%;
    height: 100%;
    border-top: 1px solid #2a0046;
}
.sec3_force_reng4 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0px 0px 30px 0px;
}
@media only screen and (max-width:750px) and (max-width:430px){
    .sec3_text_force{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sec3_text_force h1{
        font-size: 20px;
        color: #ffffff;
    }
    .sec3_box1_force{
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
    }
    .sec3_force_reng1{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng1 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 30px 30px 0px 0px;
    }
    .sec3_force_reng2{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng2 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }
    .sec3_box2_force{
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
    }
    .sec3_force_reng3{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng3 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }
    .sec3_force_reng4{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng4 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 30px 30px;
    }
}
@media only screen and (max-height:900px) and (min-height:751px) and (max-width:430px){
    .sec3_text_force{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sec3_text_force h1{
        font-size: 20px;
        color: #ffffff;
    }
    .sec3_box1_force{
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
    }
    .sec3_force_reng1{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng1 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 30px 30px 0px 0px;
    }
    .sec3_force_reng2{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng2 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }
    .sec3_box2_force{
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
    }
    .sec3_force_reng3{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng3 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }
    .sec3_force_reng4{
        width: 100%;
        height: 50%;
    }
    .sec3_force_reng4 img{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0px 0px 30px 30px;
    }
}