.present{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.section1 .h1text{
    color: #ffffff;
    font-size: 30px;
}
.section1 .present_text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.table_text{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.table_text img{
    width: 100%;
    height: 140%;
    top: -5%;
    position: relative;
}
.section2{
    display: flex;
    flex-direction: column;
    text-align:left;
}
.section2 h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    margin-left: 7rem;
    margin-right: 7rem;
}
.section2 h1{
    color: #fffb00;
    font-weight: 400;
    font-size: 60px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
