.sec5spdtext{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.sec5spdtext h1{
    font-size: 40px;
    font-weight: 600;
    color: #ffeb50;
}
.sec5spdbox{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
    /* border: 1px solid red; */
}
.sec5spdbox_text{
    width: 100%;
    height: 10%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-top: 1rem;
    /* border: 1px solid red; */
}
.skysec5{
    width: 100%;
    height: 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid rgb(43, 255, 0);
    /* background: url("https://www.seesketch.com/sketch_file/15/RU7vHfTi0SCUA.jpg"); */
}
/* .skysec5 img{
    position: absolute;
    width: 50%;
    height: 89%;
    background-size: cover;
    border: 1px solid red;
}
.skysec5_1{
    position: absolute;
    width: 100%;
    height: 80%;
} */
/* .skysec5_1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 30%;
    border-radius: 0px 0px 0px 0px ;
} */
.sec5spdbox1_text{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.sec5spdbox1_text h2{
    color: #f8ff23;
    font-size: 35px;
}
.sec5spdbox1_text h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.sec5spdbox1{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
/*     border: 1px solid red; */
}
.sec5spdbox1_img{
    height: 40%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #000;
}
.sec5spdbox1_img img{
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: 100%;
    z-index: 9;
}
.sec5spdbox1_img.running1 img{
    animation: aec1 10s linear infinite;
}
@keyframes aec1{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
}
.sec5spd_timer_1{
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
}
.sec5spd_timer_1 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px solid #000000;
    /* border: 1px solid red; */
}
.sec5spd_timer_1 ul li{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #fff;
    /* border: 1px solid red; */
}
.sec5spd_btn{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sec5spdbox2{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     border: 1px solid red; */
}
.sec5spdbox2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 30%;
}
.sec5spdbox2_text{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.sec5spdbox2_text h2{
    color: #f8ff23;
    font-size: 35px;
}
.sec5spdbox2_text h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.sec5spdbox2_img{
    height: 40%;
    width: 100%;
    border-bottom: 4px solid #000;
    position: relative;
    overflow: hidden;
}
.sec5spdbox2_img img{
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: 100%;
    z-index: 9;
}
.sec5spdbox2_img.running2 img{
    animation: aec2  10s linear infinite;
}
@keyframes aec2{
    0%{
        left: -25%;
    }
    10%{
        left: -20%;
    }
    30%{
        left: -10%;
    }
    50%{
        left: 10%;
    }
    80%{
        left: 50%;
    }
    90%{
        left: 70%;
    }
    100%{
        left: 100%;
    }
}
.sec5spdbox3{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     border: 1px solid red; */
}
.sec5spdbox3 img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 30%;
    border-radius: 0px 0px 30px 30px;
}
.sec5spdbox3_text{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.sec5spdbox3_text h2{
    color: #f8ff23;
    font-size: 35px;
}
.sec5spdbox3_text h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.sec5spdbox3_img{
    height: 40%;
    width: 100%;
    overflow: hidden;
    border-bottom: 4px solid #000;
    position: relative;
}
.sec5spdbox3_img img{
    position: absolute;
    width: 20%;
    height: 70%;
    opacity: 100%;
    z-index: 9;
    top: 20%;
}
.sec5spdbox3_img.running3 img{
    animation: aec3 15s infinite;
}
@keyframes  aec3{
    0%{
        left: -20%;
    }
    70%{
        left: 80%;
    }
    100%{
        left: 70%;
    }
}
.sec5spdbox button{
    padding: 2px 10px;
    width: 100px;
    height: 28px;
    z-index: 9;
    border: 3px solid rgb(9, 255, 0);
    border-radius: 15px;
    color: #ffffff;
    background: linear-gradient(255deg,#313131,#333333);
    font-family: 'Noto Sans Thai', sans-serif;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0.2rem;
}

@media only screen and (max-width:750px) and (max-width:430px){
    .sec5spdtext{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid red; */
    }
    .sec5spdtext h1{
        font-size: 30px;
        font-weight: 600;
        color: #ffdb38;
        margin-bottom: 1rem;
    }
    .sec5spdbox{
        width: 100%;
        height: 90%;
        top: -10%;
        /* border: 1px solid red; */
    }
    .sec5spdbox_text{
        width: 100%;
        height: 10%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        margin-bottom: 1rem;
        /* border: 1px solid red; */
    }
    .sec5spdbox_text p{
        margin-left: 1rem;
        margin-right: 1rem;
        /* border: 1px solid red; */
    }
    .skysec5{
        width: 100%;
        height: 100%;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border: 1px solid rgb(43, 255, 0);
        /* background: url("https://www.seesketch.com/sketch_file/15/RU7vHfTi0SCUA.jpg"); */
    }
    .sec5spdbox1_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox1_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox1_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox1{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox1_img{
        height: 40%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #000;
    }
    .sec5spdbox1_img img{
        position: absolute;
        width: 20%;
        height: 100%;
        opacity: 100%;
        z-index: 9;
    }
    .sec5spdbox1_img.running1 img{
        animation: aec1 10s linear infinite;
    }
    @keyframes aec1{
        0%{
            left: -20%;
        }
        100%{
            left: 100%;
        }
    }
    .sec5spd_timer_1{
        width: 100%;
        height: 10%;
        /* border: 1px solid red; */
    }
    .sec5spd_timer_1 ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: 2px solid #000000;
        /* border: 1px solid red; */
    }
    .sec5spd_timer_1 ul li{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        color: #fff;
        /* border: 1px solid red; */
    }
    .sec5spd_btn{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .sec5spdbox2{
        width: 100%;
        height: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox2 img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 30%;
    }
    .sec5spdbox2_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox2_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox2_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox2_img{
        height: 40%;
        width: 100%;
        border-bottom: 4px solid #000;
        position: relative;
        overflow: hidden;
    }
    .sec5spdbox2_img img{
        position: absolute;
        width: 20%;
        height: 100%;
        opacity: 100%;
        z-index: 9;
    }
    .sec5spdbox2_img.running2 img{
        animation: aec2  10s linear infinite;
    }
    @keyframes aec2{
        0%{
            left: -25%;
        }
        10%{
            left: -20%;
        }
        30%{
            left: -10%;
        }
        50%{
            left: 10%;
        }
        80%{
            left: 50%;
        }
        90%{
            left: 70%;
        }
        100%{
            left: 100%;
        }
    }
    .sec5spdbox3{
        width: 100%;
        height: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox3 img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 30%;
        border-radius: 0px 0px 30px 30px;
    }
    .sec5spdbox3_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox3_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox3_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox3_img{
        height: 40%;
        width: 100%;
        overflow: hidden;
        border-bottom: 4px solid #000;
        position: relative;
    }
    .sec5spdbox3_img img{
        position: absolute;
        width: 20%;
        height: 50%;
        opacity: 100%;
        z-index: 9;
        top: 35%;
    }
    .sec5spdbox3_img.running3 img{
        animation: aec3 15s infinite;
    }
    @keyframes  aec3{
        0%{
            left: -20%;
        }
        70%{
            left: 80%;
        }
        100%{
            left: 70%;
        }
    }
}
@media only screen and (max-height:900px) and (min-height:751px) and (max-width:430px){
    .sec5spdtext{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid red; */
    }
    .sec5spdtext h1{
        font-size: 30px;
        font-weight: 600;
        color: #ffdb38;
        margin-bottom: 1rem;
    }
    .sec5spdbox{
        width: 100%;
        height: 90%;
        top: -10%;
        /* border: 1px solid red; */
    }
    .sec5spdbox_text{
        width: 100%;
        height: 10%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        margin-bottom: 1rem;
        /* border: 1px solid red; */
    }
    .sec5spdbox_text p{
        margin-left: 1rem;
        margin-right: 1rem;
        /* border: 1px solid red; */
    }
    .skysec5{
        width: 100%;
        height: 100%;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border: 1px solid rgb(43, 255, 0);
        /* background: url("https://www.seesketch.com/sketch_file/15/RU7vHfTi0SCUA.jpg"); */
    }
    .sec5spdbox1_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox1_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox1_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox1{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox1_img{
        height: 40%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #000;
    }
    .sec5spdbox1_img img{
        position: absolute;
        width: 20%;
        height: 100%;
        opacity: 100%;
        z-index: 9;
    }
    .sec5spdbox1_img.running1 img{
        animation: aec1 10s linear infinite;
    }
    @keyframes aec1{
        0%{
            left: -20%;
        }
        100%{
            left: 100%;
        }
    }
    .sec5spd_timer_1{
        width: 100%;
        height: 10%;
        /* border: 1px solid red; */
    }
    .sec5spd_timer_1 ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: 2px solid #000000;
        /* border: 1px solid red; */
    }
    .sec5spd_timer_1 ul li{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        color: #fff;
        /* border: 1px solid red; */
    }
    .sec5spd_btn{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .sec5spdbox2{
        width: 100%;
        height: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox2 img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 30%;
    }
    .sec5spdbox2_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox2_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox2_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox2_img{
        height: 40%;
        width: 100%;
        border-bottom: 4px solid #000;
        position: relative;
        overflow: hidden;
    }
    .sec5spdbox2_img img{
        position: absolute;
        width: 20%;
        height: 100%;
        opacity: 100%;
        z-index: 9;
    }
    .sec5spdbox2_img.running2 img{
        animation: aec2  10s linear infinite;
    }
    @keyframes aec2{
        0%{
            left: -25%;
        }
        10%{
            left: -20%;
        }
        30%{
            left: -10%;
        }
        50%{
            left: 10%;
        }
        80%{
            left: 50%;
        }
        90%{
            left: 70%;
        }
        100%{
            left: 100%;
        }
    }
    .sec5spdbox3{
        width: 100%;
        height: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /*     border: 1px solid red; */
    }
    .sec5spdbox3 img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 30%;
        border-radius: 0px 0px 30px 30px;
    }
    .sec5spdbox3_text{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .sec5spdbox3_text h2{
        color: #f8ff23;
        font-size: 25px;
    }
    .sec5spdbox3_text h4{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    .sec5spdbox3_img{
        height: 40%;
        width: 100%;
        overflow: hidden;
        border-bottom: 4px solid #000;
        position: relative;
    }
    .sec5spdbox3_img img{
        position: absolute;
        width: 20%;
        height: 50%;
        opacity: 100%;
        z-index: 9;
        top: 35%;
    }
    .sec5spdbox3_img.running3 img{
        animation: aec3 15s infinite;
    }
    @keyframes  aec3{
        0%{
            left: -20%;
        }
        70%{
            left: 80%;
        }
        100%{
            left: 70%;
        }
    }
}